{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

    {% include 'security/logout.html.twig' %}

    <center><h1 class="display-4">Categories</h1></center></br>


    <div class="buttons" style="margin-bottom:2em">
        <a href="{{ path('app_product_index') }}"><button class="btn btn-outline-secondary">{{ button_label|default('Products') }}</button></a>
        <a href="{{ path('app_user_index') }}"><button class="btn btn-outline-secondary">{{ button_label|default('Users') }}</button></a>
        <a href="{{ path('app_category_new') }}"><button class="btn btn-outline-secondary">New</button></a>
    
    </div>





    <table class="table table-light table-hover text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}"> <button class="btn btn-outline-info">{{ button_label|default('Show') }}</button></a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}"> <button class="btn btn-outline-warning">{{ button_label|default('Edit') }}</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
